In [1]:
import pandas as pd
import numpy as np

In [5]:
pd.read_csv("nba.csv")

               Name                 Team Position  Birthday    Salary
0      Shake Milton   Philadelphia 76ers       SG   9/26/96   1445697
1    Christian Wood      Detroit Pistons       PF   9/27/95   1645357
2     PJ Washington    Charlotte Hornets       PF   8/23/98   3831840
3      Derrick Rose      Detroit Pistons       PG   10/4/88   7317074
4     Marial Shayok   Philadelphia 76ers        G   7/26/95     79568
..              ...                  ...      ...       ...       ...
445   Austin Rivers      Houston Rockets       PG    8/1/92   2174310
446     Harry Giles     Sacramento Kings       PF   4/22/98   2578800
447     Robin Lopez      Milwaukee Bucks        C    4/1/88   4767000
448   Collin Sexton  Cleveland Cavaliers       PG    1/4/99   4764960
449     Ricky Rubio         Phoenix Suns       PG  10/21/90  16200000

[450 rows x 5 columns]

In [ ]:
pd.read_csv("nba.csv", parse_dates=["Birthday"]).dtypes

In [ ]:
pd.read_csv("nba.csv", parse_dates=["Birthday"]).dtypes.value_counts

In [4]:
nba = pd.read_csv("nba.csv", index_col="Name")

In [ ]:
nba.sort_values("Team", ascending=False)

In [ ]:
nba.sort_values(by = ["Team", "Salary"], ascending= [True, False]).head()

In [ ]:
nba.dtypes

In [ ]:
pd.read_csv("nba.csv", parse_dates=["Birthday"])

In [ ]:
nba.sort_index(axis=1, ascending=False)

In [ ]:
nba = nba.set_index("Team")

In [ ]:
nba

In [ ]:
nba["Birthday"] = pd.to_datetime(nba["Birthday"])

In [ ]:
nba.value_counts

In [ ]:
nba.Salary #dataframe.column_name

In [ ]:
nba = pd.read_csv("nba.csv", parse_dates=["Birthday"])

In [ ]:
nba[["Team"]]

In [ ]:
type(nba[["Team"]])

In [ ]:
nba.dtypes

In [ ]:
nba.select_dtypes(include="object")

In [ ]:
nba = nba.set_index("Name")

In [ ]:
nba

In [ ]:
nba[nba["Position"] == "PF"]

In [ ]:
nba.loc[["Draymond Green","Alec Burks"]]

In [ ]:
nba.sort_index().loc["Alec Burks":"Chris Boucher"]

In [ ]:
nba.sort_index().loc[:"Al Horford"]

In [ ]:
nba.value_counts("Team")

In [ ]:
nba.iloc[[2,53,56,231,345,43,]]

In [ ]:
nba.loc["Al Horford", :]

In [ ]:
nba.loc[["Al Horford", "Kevin Huerter"],"Team"]

In [ ]:
nba.loc["Al Horford","Position":,]

In [ ]:
nba.loc[["Al Horford","Mike Conley"],["Team","Salary"]]

In [ ]:
nba.at["Al Horford","Team"]

In [7]:
nba.columns

Index(['Team', 'Position', 'Birthday', 'Salary'], dtype='object')

In [18]:
nba = nba.rename(columns={"Salary": "Pay"})

In [19]:
nba.columns

Index(['Team', 'Position', 'Birthday', 'Pay'], dtype='object')

In [8]:
nba.reset_index()

               Name                 Team Position  Birthday    Salary
0      Shake Milton   Philadelphia 76ers       SG   9/26/96   1445697
1    Christian Wood      Detroit Pistons       PF   9/27/95   1645357
2     PJ Washington    Charlotte Hornets       PF   8/23/98   3831840
3      Derrick Rose      Detroit Pistons       PG   10/4/88   7317074
4     Marial Shayok   Philadelphia 76ers        G   7/26/95     79568
..              ...                  ...      ...       ...       ...
445   Austin Rivers      Houston Rockets       PG    8/1/92   2174310
446     Harry Giles     Sacramento Kings       PF   4/22/98   2578800
447     Robin Lopez      Milwaukee Bucks        C    4/1/88   4767000
448   Collin Sexton  Cleveland Cavaliers       PG    1/4/99   4764960
449     Ricky Rubio         Phoenix Suns       PG  10/21/90  16200000

[450 rows x 5 columns]

In [13]:
nba.columns

Index(['Team', 'Position', 'Birthday', 'Salary'], dtype='object')