In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.read_csv("nba.csv")

               Name                 Team Position  Birthday    Salary
0      Shake Milton   Philadelphia 76ers       SG   9/26/96   1445697
1    Christian Wood      Detroit Pistons       PF   9/27/95   1645357
2     PJ Washington    Charlotte Hornets       PF   8/23/98   3831840
3      Derrick Rose      Detroit Pistons       PG   10/4/88   7317074
4     Marial Shayok   Philadelphia 76ers        G   7/26/95     79568
..              ...                  ...      ...       ...       ...
445   Austin Rivers      Houston Rockets       PG    8/1/92   2174310
446     Harry Giles     Sacramento Kings       PF   4/22/98   2578800
447     Robin Lopez      Milwaukee Bucks        C    4/1/88   4767000
448   Collin Sexton  Cleveland Cavaliers       PG    1/4/99   4764960
449     Ricky Rubio         Phoenix Suns       PG  10/21/90  16200000

[450 rows x 5 columns]

In [5]:
pd.read_csv("nba.csv", parse_dates=["Birthday"]).dtypes

C:\Users\SYS\AppData\Local\Temp\ipykernel_8080\3753848205.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.read_csv("nba.csv", parse_dates=["Birthday"]).dtypes

Name                object
Team                object
Position            object
Birthday    datetime64[ns]
Salary               int64
dtype: object

In [7]:
pd.read_csv("nba.csv", parse_dates=["Birthday"]).dtypes.value_counts

C:\Users\SYS\AppData\Local\Temp\ipykernel_8080\1176525514.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.read_csv("nba.csv", parse_dates=["Birthday"]).dtypes.value_counts

<bound method IndexOpsMixin.value_counts of Name                object
Team                object
Position            object
Birthday    datetime64[ns]
Salary               int64
dtype: object>

In [13]:
nba = pd.read_csv("nba.csv", index_col="Name")

In [14]:
nba.sort_values("Team", ascending=False)

                               Team Position  Birthday    Salary
Name
Chris Chiozza    Washington Wizards       PG  11/21/95     79568
Ian Mahinmi      Washington Wizards        C   11/5/86  15450051
Isaac Bonga      Washington Wizards       PG   11/8/99   1416852
Davis Bertans    Washington Wizards       PF  11/12/92   7000000
Justin Robinson  Washington Wizards       PG  10/12/97    898310
...                             ...      ...       ...       ...
Bruno Fernando        Atlanta Hawks        C   8/15/98   1400000
Charlie Brown         Atlanta Hawks       SG    2/2/97     79568
Jabari Parker         Atlanta Hawks       PF   3/15/95   6500000
Damian Jones          Atlanta Hawks        C   6/30/95   2305057
Cam Reddish           Atlanta Hawks       SF    9/1/99   4245720

[450 rows x 4 columns]

In [15]:
nba.sort_values(by = ["Team", "Salary"], ascending= [True, False]).head()

                           Team Position  Birthday    Salary
Name
Chandler Parsons  Atlanta Hawks       SF  10/25/88  25102512
Evan Turner       Atlanta Hawks       PG  10/27/88  18606556
Allen Crabbe      Atlanta Hawks       SG    4/9/92  18500000
De'Andre Hunter   Atlanta Hawks       SF   12/2/97   7068360
Jabari Parker     Atlanta Hawks       PF   3/15/95   6500000

In [16]:
nba.dtypes

Team        object
Position    object
Birthday    object
Salary       int64
dtype: object

In [32]:
pd.read_csv("nba.csv", parse_dates=["Birthday"])

C:\Users\SYS\AppData\Local\Temp\ipykernel_8080\4190359386.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.read_csv("nba.csv", parse_dates=["Birthday"])

               Name                 Team Position   Birthday    Salary
0      Shake Milton   Philadelphia 76ers       SG 1996-09-26   1445697
1    Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
2     PJ Washington    Charlotte Hornets       PF 1998-08-23   3831840
3      Derrick Rose      Detroit Pistons       PG 1988-10-04   7317074
4     Marial Shayok   Philadelphia 76ers        G 1995-07-26     79568
..              ...                  ...      ...        ...       ...
445   Austin Rivers      Houston Rockets       PG 1992-08-01   2174310
446     Harry Giles     Sacramento Kings       PF 1998-04-22   2578800
447     Robin Lopez      Milwaukee Bucks        C 1988-04-01   4767000
448   Collin Sexton  Cleveland Cavaliers       PG 1999-01-04   4764960
449     Ricky Rubio         Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 5 columns]

In [34]:
nba.sort_index(axis=1, ascending=False)

                    Team    Salary Position            Name   Birthday
0     Philadelphia 76ers   1445697       SG    Shake Milton 1996-09-26
1        Detroit Pistons   1645357       PF  Christian Wood 1995-09-27
2      Charlotte Hornets   3831840       PF   PJ Washington 1998-08-23
3        Detroit Pistons   7317074       PG    Derrick Rose 1988-10-04
4     Philadelphia 76ers     79568        G   Marial Shayok 1995-07-26
..                   ...       ...      ...             ...        ...
445      Houston Rockets   2174310       PG   Austin Rivers 1992-08-01
446     Sacramento Kings   2578800       PF     Harry Giles 1998-04-22
447      Milwaukee Bucks   4767000        C     Robin Lopez 1988-04-01
448  Cleveland Cavaliers   4764960       PG   Collin Sexton 1999-01-04
449         Phoenix Suns  16200000       PG     Ricky Rubio 1990-10-21

[450 rows x 5 columns]

In [22]:
nba = nba.set_index("Team")

In [33]:
nba

               Name                 Team Position   Birthday    Salary
0      Shake Milton   Philadelphia 76ers       SG 1996-09-26   1445697
1    Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
2     PJ Washington    Charlotte Hornets       PF 1998-08-23   3831840
3      Derrick Rose      Detroit Pistons       PG 1988-10-04   7317074
4     Marial Shayok   Philadelphia 76ers        G 1995-07-26     79568
..              ...                  ...      ...        ...       ...
445   Austin Rivers      Houston Rockets       PG 1992-08-01   2174310
446     Harry Giles     Sacramento Kings       PF 1998-04-22   2578800
447     Robin Lopez      Milwaukee Bucks        C 1988-04-01   4767000
448   Collin Sexton  Cleveland Cavaliers       PG 1999-01-04   4764960
449     Ricky Rubio         Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 5 columns]

In [24]:
nba["Birthday"] = pd.to_datetime(nba["Birthday"])

C:\Users\SYS\AppData\Local\Temp\ipykernel_8080\3907962062.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  nba["Birthday"] = pd.to_datetime(nba["Birthday"])

In [27]:
nba.value_counts

<bound method DataFrame.value_counts of                     Position   Birthday    Salary
Team
Philadelphia 76ers        SG 1996-09-26   1445697
Detroit Pistons           PF 1995-09-27   1645357
Charlotte Hornets         PF 1998-08-23   3831840
Detroit Pistons           PG 1988-10-04   7317074
Philadelphia 76ers         G 1995-07-26     79568
...                      ...        ...       ...
Houston Rockets           PG 1992-08-01   2174310
Sacramento Kings          PF 1998-04-22   2578800
Milwaukee Bucks            C 1988-04-01   4767000
Cleveland Cavaliers       PG 1999-01-04   4764960
Phoenix Suns              PG 1990-10-21  16200000

[450 rows x 3 columns]>

In [28]:
nba.Salary #dataframe.column_name

Team
Philadelphia 76ers      1445697
Detroit Pistons         1645357
Charlotte Hornets       3831840
Detroit Pistons         7317074
Philadelphia 76ers        79568
                         ...
Houston Rockets         2174310
Sacramento Kings        2578800
Milwaukee Bucks         4767000
Cleveland Cavaliers     4764960
Phoenix Suns           16200000
Name: Salary, Length: 450, dtype: int64

In [29]:
nba = pd.read_csv("nba.csv", parse_dates=["Birthday"])

C:\Users\SYS\AppData\Local\Temp\ipykernel_8080\2175990475.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  nba = pd.read_csv("nba.csv", parse_dates=["Birthday"])

In [30]:
nba[["Team"]]

                    Team
0     Philadelphia 76ers
1        Detroit Pistons
2      Charlotte Hornets
3        Detroit Pistons
4     Philadelphia 76ers
..                   ...
445      Houston Rockets
446     Sacramento Kings
447      Milwaukee Bucks
448  Cleveland Cavaliers
449         Phoenix Suns

[450 rows x 1 columns]

In [31]:
type(nba[["Team"]])

pandas.core.frame.DataFrame

In [35]:
nba.dtypes

Name                object
Team                object
Position            object
Birthday    datetime64[ns]
Salary               int64
dtype: object

In [36]:
nba.select_dtypes(include="object")

               Name                 Team Position
0      Shake Milton   Philadelphia 76ers       SG
1    Christian Wood      Detroit Pistons       PF
2     PJ Washington    Charlotte Hornets       PF
3      Derrick Rose      Detroit Pistons       PG
4     Marial Shayok   Philadelphia 76ers        G
..              ...                  ...      ...
445   Austin Rivers      Houston Rockets       PG
446     Harry Giles     Sacramento Kings       PF
447     Robin Lopez      Milwaukee Bucks        C
448   Collin Sexton  Cleveland Cavaliers       PG
449     Ricky Rubio         Phoenix Suns       PG

[450 rows x 3 columns]

In [38]:
nba = nba.set_index("Name")

In [39]:
nba

                               Team Position   Birthday    Salary
Name
Shake Milton     Philadelphia 76ers       SG 1996-09-26   1445697
Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
PJ Washington     Charlotte Hornets       PF 1998-08-23   3831840
Derrick Rose        Detroit Pistons       PG 1988-10-04   7317074
Marial Shayok    Philadelphia 76ers        G 1995-07-26     79568
...                             ...      ...        ...       ...
Austin Rivers       Houston Rockets       PG 1992-08-01   2174310
Harry Giles        Sacramento Kings       PF 1998-04-22   2578800
Robin Lopez         Milwaukee Bucks        C 1988-04-01   4767000
Collin Sexton   Cleveland Cavaliers       PG 1999-01-04   4764960
Ricky Rubio            Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 4 columns]

In [47]:
nba[nba["Position"] == "PF"]

                                      Team Position   Birthday    Salary
Name
Christian Wood             Detroit Pistons       PF 1995-09-27   1645357
PJ Washington            Charlotte Hornets       PF 1998-08-23   3831840
Draymond Green       Golden State Warriors       PF 1990-03-04  18539130
JaMychal Green        Los Angeles Clippers       PF 1990-06-21   4767000
Chris Boucher              Toronto Raptors       PF 1993-01-11   1588231
...                                    ...      ...        ...       ...
Semi Ojeleye                Boston Celtics       PF 1994-12-05   1618520
Brandon Ingram        New Orleans Pelicans       PF 1997-09-02   7265485
Dorian Finney-Smith       Dallas Mavericks       PF 1993-05-04   4000000
Jared Dudley            Los Angeles Lakers       PF 1985-07-10   2564753
Harry Giles               Sacramento Kings       PF 1998-04-22   2578800

[96 rows x 4 columns]

In [59]:
nba.loc[["Draymond Green","Alec Burks"]]

                                 Team Position   Birthday    Salary
Name
Draymond Green  Golden State Warriors       PF 1990-03-04  18539130
Alec Burks      Golden State Warriors       SG 1991-07-20   2320044

In [52]:
nba.sort_index().loc["Alec Burks":"Chris Boucher"]

                                      Team Position   Birthday    Salary
Name
Alec Burks           Golden State Warriors       SG 1991-07-20   2320044
Alex Caruso             Los Angeles Lakers       PG 1994-02-28   2750000
Alex Len                     Atlanta Hawks        C 1993-06-16   4160000
Alfonzo McKinnie       Cleveland Cavaliers       SF 1992-09-17   1588231
Alize Johnson               Indiana Pacers       PF 1996-04-22   1416852
Allen Crabbe                 Atlanta Hawks       SG 1992-04-09  18500000
Allonzo Trier              New York Knicks       PG 1996-01-17   3551100
Amile Jefferson              Orlando Magic       PF 1993-05-07   1339515
Amir Coffey           Los Angeles Clippers        G 1997-06-17     79568
Andre Drummond             Detroit Pistons        C 1993-08-10  27093018
Andre Iguodala           Memphis Grizzlies       SF 1984-01-28  17185185
Andre Roberson       Oklahoma City Thunder       SF 1991-12-04  10740740
Andrew Wiggins      Minnesota Timberwolves       SF 1995-02-23  27504630
Anfernee Simons     Portland Trail Blazers       SG 1999-06-08   2149560
Anthony Davis           Los Angeles Lakers        C 1993-03-11  27093019
Anthony Tolliver    Portland Trail Blazers       PF 1985-06-01   2564753
Antonius Cleveland        Dallas Mavericks       SG 1994-02-02     79568
Aron Baynes                   Phoenix Suns        C 1986-12-09   5453280
Austin Rivers              Houston Rockets       PG 1992-08-01   2174310
Avery Bradley           Los Angeles Lakers       PG 1990-11-26   6767000
Bam Adebayo                     Miami Heat        C 1997-07-18   3454080
Ben McLemore               Houston Rockets       SG 1993-02-11   2028594
Ben Simmons             Philadelphia 76ers       PG 1996-07-20   8113929
Bismack Biyombo          Charlotte Hornets        C 1992-08-28  17000000
Blake Griffin              Detroit Pistons       PF 1989-03-16  34449964
Boban Marjanovic          Dallas Mavericks        C 1988-08-15   3500000
Bobby Portis               New York Knicks        C 1995-02-10  15000000
Bogdan Bogdanovic         Sacramento Kings       SG 1992-08-18   8529386
Bojan Bogdanovic                 Utah Jazz       SF 1989-04-18  17000000
Bol Bol                     Denver Nuggets        C 1999-11-16     79568
Brad Wanamaker              Boston Celtics       PG 1989-07-25   1445697
Bradley Beal            Washington Wizards       SG 1993-06-28  27093018
Brandon Clarke           Memphis Grizzlies       PF 1996-09-19   2478840
Brandon Goodwin              Atlanta Hawks       PG 1995-10-02     79568
Brandon Ingram        New Orleans Pelicans       PF 1997-09-02   7265485
Brandon Knight         Cleveland Cavaliers       PG 1991-12-02  15643750
Brian Bowen                 Indiana Pacers       SG 1998-10-02     79568
Brook Lopez                Milwaukee Bucks        C 1988-04-01  12093024
Bruce Brown                Detroit Pistons       SG 1996-08-15   1416852
Bruno Caboclo            Memphis Grizzlies       SF 1995-09-21   1845301
Bruno Fernando               Atlanta Hawks        C 1998-08-15   1400000
Bryn Forbes              San Antonio Spurs       SG 1993-07-23   2875000
Buddy Hield               Sacramento Kings       SG 1992-12-17   4861207
CJ McCollum         Portland Trail Blazers       SG 1991-09-19  27556959
Caleb Martin             Charlotte Hornets       SF 1995-09-28    898310
Caleb Swanigan            Sacramento Kings       PF 1997-04-18   2033160
Cam Reddish                  Atlanta Hawks       SF 1999-09-01   4245720
Cameron Johnson               Phoenix Suns       PF 1996-03-03   4033440
Caris LeVert                 Brooklyn Nets       SF 1994-08-25   2625717
Carmelo Anthony     Portland Trail Blazers       PF 1984-05-29   2159029
Carsen Edwards              Boston Celtics       SG 1998-03-12   1228026
Cedi Osman             Cleveland Cavaliers       SF 1995-04-08   2907143
Chandler Hutchison           Chicago Bulls       SF 1996-04-26   2332320
Chandler Parsons             Atlanta Hawks       SF 1988-10-25  25102512
Charlie Brown                Atlanta Hawks       SG 1997-02-02     79568
Cheick Diallo                 Phoenix Suns        C 1996-09-13   1678854
Chimezie Metu            San Antonio Spurs       PF 1997-03-22   1416852
Chris Boucher              Toronto Raptors       PF 1993-01-11   1588231

In [53]:
nba.sort_index().loc[:"Al Horford"]

                                    Team Position   Birthday    Salary
Name
Aaron Gordon               Orlando Magic       PF 1995-09-16  19863636
Aaron Holiday             Indiana Pacers       PG 1996-09-30   2239200
Abdel Nader        Oklahoma City Thunder       SF 1993-09-25   1618520
Adam Mokoka                Chicago Bulls        G 1998-07-18     79568
Admiral Schofield     Washington Wizards       SF 1997-03-30   1000000
Al Horford            Philadelphia 76ers        C 1986-06-03  28000000

In [57]:
nba.value_counts("Team")

Team
Brooklyn Nets             17
Utah Jazz                 17
Philadelphia 76ers        17
Minnesota Timberwolves    17
Boston Celtics            16
Charlotte Hornets         16
Chicago Bulls             16
Toronto Raptors           16
Detroit Pistons           16
New York Knicks           16
New Orleans Pelicans      16
Los Angeles Lakers        16
Atlanta Hawks             15
Sacramento Kings          15
Phoenix Suns              15
Miami Heat                15
Memphis Grizzlies         15
Golden State Warriors     15
Denver Nuggets            15
Milwaukee Bucks           14
Los Angeles Clippers      14
Houston Rockets           14
Portland Trail Blazers    14
San Antonio Spurs         14
Washington Wizards        14
Indiana Pacers            13
Oklahoma City Thunder     13
Orlando Magic             13
Dallas Mavericks          13
Cleveland Cavaliers       13
Name: count, dtype: int64

In [58]:
nba.iloc[[2,53,56,231,345,43,]]

                             Team Position   Birthday    Salary
Name
PJ Washington   Charlotte Hornets       PF 1998-08-23   3831840
Dzanan Musa         Brooklyn Nets       SF 1999-05-08   1911600
JaVale McGee   Los Angeles Lakers        C 1988-01-19   4000000
Kevin Knox        New York Knicks       PF 1999-08-11   4380120
Mike Conley             Utah Jazz       PG 1987-10-11  32511623
Jamal Murray       Denver Nuggets       PG 1997-02-23   4444746

In [60]:
nba.loc["Al Horford", :]

Team         Philadelphia 76ers
Position                      C
Birthday    1986-06-03 00:00:00
Salary                 28000000
Name: Al Horford, dtype: object

In [61]:
nba.loc[["Al Horford", "Kevin Huerter"],"Team"]

Name
Al Horford       Philadelphia 76ers
Kevin Huerter         Atlanta Hawks
Name: Team, dtype: object

In [62]:
nba.loc["Al Horford","Position":"Salary"]

Position                      C
Birthday    1986-06-03 00:00:00
Salary                 28000000
Name: Al Horford, dtype: object